body{
    background-image: url("background.jpg");
    background-size: cover;
}
h1{
    color: rgb(9, 9, 225);
    font-family: 'Times New Roman', Times, serif;
    text-align: center
}
.container{
    text-align: center;

}
.block{
    margin: 20px;
    padding: 10px 20px;
    border:3px solid black;
    background-color:rgb(39, 39, 180);
    width: 300px;
    height: 150px;
    border-radius: 20px;
    display: inline-block;

}
button {
    text-align: center;
    background-color: #bef338; 
    color: blue;
    padding: 10px 20px; 
    border-radius: 10px; 
    cursor: pointer; 
    border:0cap;
}
button:hover {
    background-color: #cc6d2e; 
}
